
*{
    font-family: sans-serif, 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard{
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
    
}

.gamebox{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    cursor: pointer;
}

.play-status{
    margin-top: 30px;
}
button{
    height: 30px;
    width: 100px; 
    margin: 10px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

input{
    width: 100px;
    height: 20px;
}

#tie{
    margin-top: 0;
}